<div class="modal-header">
    <h5 class="modal-title">{{modo}}</h5>
    <button type="button" class="close" aria-label="Close" (click)="cancelar()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <form #agendamentosForm=ngForm (ngSubmit)="onSubmit()">
        <div class="container">                 
            <div class="row">
                <div class="form-group">
                    <label>Cliente</label>  
                    <div class="ng-autocomplete">
                        <ng-autocomplete
                            name="tempClienteNome"
                            required
                            [(ngModel)]="tempClienteNome"
                            [data]="clientes"
                            [searchKeyword]="keyword"
                            placeHolder="Digite o nome do cliente"
                            (selected)='selectEvent($event)'
                            (closed)='selectEvent($event)'
                            minQueryLength="2"
                            (inputChanged)='getServerResponseClientes($event)' 
                            (inputCleared)='searchClearedClientes()'
                            [isLoading]="isLoadingResult" 
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>
                        
                        <ng-template #itemTemplate let-item>
                            <a [innerHTML]="item.nome"></a>
                        </ng-template>
                        
                        <ng-template #notFoundTemplate let-notFound><div style="color:black;padding:10px;">Cliente não encontrado.</div></ng-template>
                    </div>
                </div>
            </div>           
            <div class="row">
                <div class="form-group">
                    <label>Barbeiros</label>
                    <select class="custom-select" name="barbeiro_id" required [(ngModel)]="agendamento[0].barbeiro_id">
                        <option *ngFor="let b of barbeiros" [value]="b.id">{{b.nome}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Serviços:</label>
                    <select class="custom-select" name="descricao" required [(ngModel)]="agendamento[0].descricao">
                        <option *ngFor="let s of servicos" [value]="s.nome">{{s.nome}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label>Data:</label>
                    <div class="input-group">
                      <input class="form-control col-sm-5" required autocomplete="off" placeholder="Data" name="dataagendamento" 
                      [(ngModel)]="fromDate" [value]="formatter.format(fromDate)" ngbDatepicker #dataagendamento="ngbDatepicker">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary" (click)="dataagendamento.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                      </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <label>Hora:</label>
                <div class="form-group">
                    <ngb-timepicker name="fromTime" required [(ngModel)]="fromTime" style="border-left:0;"></ngb-timepicker>
                    
                    <!--<input class="form-control col-sm-10" name="dataagendamento" autocomplete="off" required [(ngModel)]="agendamento[0].dataagendamento" mode="daytime" [dpDayPicker]="config" />-->
                </div>
            </div>
            <div class="row" [innerHtml]="error" [hidden]="!error"></div>
        </div>
    </form>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-info btn-space" (click)="onSubmit()">Salvar</button>
    <button type="button" class="btn btn-light" (click)="cancelar()">Cancelar</button>
</div>