<!--<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">BarbeariaClub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/agendamentos']" [routerLinkActive]="['active']" routerLink="agendamentos" *ngIf="loggedIn">Agendamentos</a>
      </li>
      <li class="nav-item" [routerLink]="['/barbeiros']" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="barbeiros" *ngIf="loggedIn">Barbeiros</a>
      </li>
      <li class="nav-item" [routerLink]="['/clientes']" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="clientes" *ngIf="loggedIn">Clientes</a>
      </li>
      
      

    </ul>
  </div>
</nav>-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">BarbeariaClub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/agendamentos']" [routerLinkActive]="['active']" routerLink="agendamentos" *ngIf="loggedIn">Agendamentos</a>
      </li>
      <li class="nav-item" [routerLink]="['/barbeiros']" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/barbeiros" *ngIf="loggedIn">Barbeiros</a>
      </li>
      <li class="nav-item" [routerLink]="['/clientes']" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/clientes" *ngIf="loggedIn">Clientes</a>
      </li>
    </ul>
  </div>

  <div class="navbar-collapse" [class.collapse]="collapsed" id="navbarContent">
    <ul class="navbar-nav ml-auto">
      <li *ngIf="!loggedIn">
        <div>
          <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']" routerLink="login">Entrar</a>
        </div>
      </li>
      <li *ngIf="loggedIn" class="nav-item" ngbDropdown display="dynamic" placement="bottom-right">
        <a class="nav-link" style="cursor: pointer" ngbDropdownToggle id="navbarDropdown3" role="button">
          {{usuario[0].name}}
        </a>
        <div ngbDropdownMenu aria-labelledby="navbarDropdown3" class="dropdown-menu">
          <a ngbDropdownItem [routerLink]="['/usuarios']" [routerLinkActive]="['active']" routerLink="/usuarios">Usuários</a>
          <a ngbDropdownItem href="#" (click)="logout($event)">Sair</a>
        </div>
      </li>
    </ul>
  </div>
</nav>