<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">BarbeariaClub</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/agendamentos']" [routerLinkActive]="['active']" routerLink="agendamentos" *ngIf="loggedIn">Agendamentos</a>
      </li>
      <li class="nav-item" [routerLink]="['/barbeiros']" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="barbeiros" *ngIf="loggedIn">Barbeiros</a>
      </li>
      <li class="nav-item" [routerLink]="['/clientes']" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="clientes" *ngIf="loggedIn">Clientes</a>
      </li>
      <li>
        <div>
          <a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']" routerLink="login" *ngIf="!loggedIn">Login</a>
          <a class="nav-link" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
        </div>
      </li>
    </ul>
  </div>
</nav>