<div class="card card-center col-10">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" (click)="openModal()">Novo usuario</button>
            </div>
        </div>
    </div>
</div>
<div class="card card-center col-10">
    <div class="card-body">
        <table class="table table-around">
            <thead class="thead-light">
                <tr>
                <th scope="col">ID</th>
                <th scope="col">Nome</th>
                <th scope="col">E-mail</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let usuario of usuarios">
                    <td>{{ usuario.id }}</td>
                    <td>{{ usuario.name }}</td>
                    <td>{{ usuario.email }}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-space" (click)="openModal(usuario.id)">Editar</button>
                        <button type="button" class="btn btn-danger btn-space" (click)="apagar(usuario.id)">Apagar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>