<div class="card">
    <div class="card-body">
        <form #agendamentosForm=ngForm (ngSubmit)="onSubmit()">
            <div class="container">
                <div class="row">
                    <div class="col-4 CustomCol center texto-branco bg-dark">Cliente</div>
                    <div class="col-4 CustomCol center texto-branco bg-dark">Barbeiro</div>
                    <div class="col-4 CustomCol center texto-branco bg-dark">Tempo</div>
                </div>                    
                <div class="row">
                  <div class="col-4 CustomCol">
                    <div class="ng-autocomplete">
                        <ng-autocomplete
                            name="form.cliente_id"
                            [(ngModel)]="form.cliente_id"
                            [data]="clientes"
                            [searchKeyword]="keyword"
                            placeHolder="Digite o nome do cliente"
                            (selected)='selectEvent($event)'
                            (inputChanged)='onChangeSearch($event)'
                            (inputFocused)='onFocused($event)'
                            historyIdentifier="clientes"
                            [itemTemplate]="itemTemplate"
                            [notFoundTemplate]="notFoundTemplate">
                        </ng-autocomplete>
                      
                        <ng-template #itemTemplate let-item>
                          <a [innerHTML]="item.nome"></a>
                        </ng-template>
                      
                        <ng-template #notFoundTemplate let-notFound>
                          <div [innerHTML]="notFound"></div>
                        </ng-template>
                      </div>                      
                  </div>
                  <div class="col-4 CustomCol">
                    <select class="custom-select" name="barbeiro_id" [(ngModel)]="form.barbeiro_id">
                        <option [value]="0">Todos</option>
                        <option *ngFor="let b of barbeiros" [value]="b.id">{{b.nome}}</option>
                    </select>
                  </div>
                  <div class="col-4 CustomCol text-center">
                    <select class="custom-select" name="tempo" [(ngModel)]="form.tempo" (change)="onBoxDueDates($event.target.value)">
                        <option [value]="t.id" *ngFor="let t of tempo">{{t.nome}}</option>
                    </select>
                    <div class="container" *ngIf="duedates">
                        <div class="row">
                            <div class="form-group hidden">
                                <div class="input-group">
                                  <input name="datepicker" style="border:0;"
                                         class="form-control"
                                         ngbDatepicker
                                         #datepicker="ngbDatepicker"
                                         [autoClose]="'outside'"
                                         (dateSelect)="onDateSelection($event)"
                                         [displayMonths]="2"
                                         [dayTemplate]="t"
                                         outsideDays="hidden"
                                         [startDate]="fromDate!">
                                  <ng-template #t let-date let-focused="focused">
                                    <span class="custom-day"
                                          [class.focused]="focused"
                                          [class.range]="isRange(date)"
                                          [class.faded]="isHovered(date) || isInside(date)"
                                          (mouseenter)="hoveredDate = date"
                                          (mouseleave)="hoveredDate = null">
                                      {{ date.day }}
                                    </span>
                                  </ng-template>
                                </div>
                            </div>

                            <div class="col-6 text-left" style="margin-top:10px;margin-right:-50px;">
                                <input #dataInicial
                                        class="form-control col-sm-10" placeholder="Inicial"
                                        name="dataInicial"
                                        autocomplete="off"
                                        readonly
                                        [(ngModel)]="form.dataInicial"
                                        [value]="formatter.format(fromDate)"
                                        (input)="fromDate = validateInput(fromDate, dataInicial.value)">
                            </div>
                            <div class="col-1 text-left" style="margin-top:10px;">
                                <button class="btn btn-outline-secondary" style="padding:4px;" (click)="datepicker.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                            </div>
                            <div class="col-6 text-left" style="margin-top:10px;margin-right:-50px;">
                                <input #dataFinal
                                        class="form-control col-sm-10" placeholder="Final"
                                        name="dataFinal"
                                        autocomplete="off"
                                        readonly
                                        [(ngModel)]="form.dataFinal"
                                        [value]="formatter.format(toDate)"
                                        (input)="toDate = validateInput(toDate, dataFinal.value)">
                            </div>
                            <div class="col-1 text-left" style="margin-top:10px;">
                                <button class="btn btn-outline-secondary" style="padding:4px;" (click)="datepicker.toggle()" type="button"><i class="far fa-calendar-alt"></i></button>
                            </div>
                        </div>
                    </div> 
                  </div>
                </div>
                <div class="row">
                  <div class="col CustomCol text-center">
                    <button type="button" class="btn btn-info btn-space" (click)="onSubmit()">Pesquisar</button>
                  </div>
                </div>
                <div class="row" [innerHtml]="errorMessage" [hidden]="!errorMessage"></div>
              </div>
        </form>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-primary" (click)="openDialog()">Novo agendamento</button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <table class="table table-around">
            <thead class="thead-light">
                <tr>
                <th scope="col">Data</th>
                <th scope="col">Hora</th>
                <th scope="col">Serviço</th>
                <th scope="col">Cliente</th>
                <th scope="col">Barbearia</th>
                <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let agendamento of agendamentos">
                    <td>{{ agendamento.dataagendamento | date: 'dd/MM/yyyy' }}</td>
                    <td>{{ agendamento.dataagendamento | date: 'h:mm' }}</td>
                    <td>{{ agendamento.descricao }}</td>
                    <td>{{ agendamento.cliente.nome }}</td>
                    <td>{{ agendamento.barbeiro.nome }}</td>
                    <td>
                        <button type="button" class="btn btn-info btn-space">Editar</button>
                        <button type="button" class="btn btn-danger btn-space" (click)="apagarAgendamento(agendamento.id)">Apagar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>