.ng-invalid:not(form){
    border-left:5px solid red;
}

.ng-valid:not(form){
    border-left:5px solid green;
}
.card {
    margin: 10px;
}
.card-center {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin-top: 10px; /* Added */
}
.btn-space {
    margin-right: 5px;
}
.CustomCol {
    border:1px solid black;
    padding: 10px;
}
.texto-branco {
    color: white;
}
.ng-autocomplete {
    width:100%;
    max-width: 600px;
    display: table;
    margin: 0 auto;
}  
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
